@charset "UTF-8";
body {
   	margin-top: 40px;
    font-family: Arial, sans-serif;
    margin-left: 66px;
}


.mypage-container {
    display: flex;  /* 좌우 레이아웃 */
    height: 100vh;  /* 전체 화면 높이 */
}

nav.menu {
	position: fixed;
    width: 250px;  /* 왼쪽 메뉴 영역 */
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-left: 10px;	
    padding-right: 50px;
    padding-bottom: 70px;
    
  
}

nav.menu ul {
    list-style-type: none;
    padding: 0;
}

nav.menu li {
    margin-bottom: 40px;
    border: 1px solid black;
}

nav.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

nav.menu li a:hover {
    background-color: #ddd;
}


.content {
    margin-left: 350px; /* 메뉴가 차지하는 영역을 제외 */
    margin-top: 70px;
    width: calc(100% - 350px); /* 메뉴를 제외한 나머지 영역 */
    height: 100%; /* 콘텐츠 높이 100% */
    background-color: #fff;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}

.content > * {
    width: 100%; /* 자식 요소들이 부모 요소의 너비를 가득 채우도록 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}



.content-section {
    display: none;  /* 처음에는 모든 섹션을 숨김 */
}

.content-section.active {
    display: block;  /* active된 섹션만 보이도록 */
}
